.row{
    display: flex;
    justify-content: center;
}
.companyInfor-container{
    padding: 30px;
}
.studentInfor-container{
    padding: 30px;
}
.button {
	background-color: $white;
	border: 2px solid white;
	border-radius: 30px;
	/*text-decoration: none;*/
	padding: 10px 28px;
	color: black;
	margin-top: 10px;
	display: inline-block;
	&:hover {
		background-color: white;
		color: $blue;
		border: 2px solid $blue;
	}
}
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 600px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}