<div class="bg-modal fixed-top">
    <div class="modal-contents">

        <div class="close">+</div>
        <div xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
            <div>Tên công ty: <label  th:text="${company.nameCompany}"></label></div>
            <div>Địa chỉ: <label th:text="${company.address}"></label></div>
            <div>Hot line: <label th:text="${company.hotlines}"></label></div>
            <div>Email: <label th:text="${company.email}"></label></div>
            <div>Nhận xét của nhân viên:
                <div th:each="review : ${reviews}">
                    <p th:text="${review.student.firstName + review.student.lastName}"></p>
                    <p th:text="${review.content}"></p>
                </div>
            </div>
        </div>

    </div>
</div>