<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/homeGlobal.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
	<div class="main-container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  	<a class="navbar-brand" href="#">Research Gate</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      	<li class="nav-item">
			        	<a class="nav-link" href="./home">Trang chủ <span class="sr-only">(current)</span></a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" th:href="${'./' + role + '/updateInfo'}">Hồ sơ</a>
			      	</li>
					<li th:if="${role == 'company'}" class="nav-item">
						<a class="nav-link" href="./recruitment">Tuyển dụng</a>
					</li>
			    </ul>
		  	</div>
            <form class="form-inline my-2 my-lg-0" action="./home" method="post">
                <label for="language">Language:</label>
                <select class="form-control mr-sm-2" name="language" id="language">
                    <option value="All">Tất cả</option>
                    <option th:each="lang : ${listProgrammingLanguage}" th:value="${lang}" th:text="${lang}"></option>
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
            </form>
		</nav>
	</div>
	<div class="container" th:switch="${role}">
        <div class="row">
            <div class="col-12 col-md-6" th:case="'student'">
                <ul>
                    <li class="recruitment" th:each="recruitment : ${listRecruitment}">
                        <div>Công ty: <label style="cursor: pointer; color: blue;" class="button" th:attr="data-id=${recruitment.company.userId}" th:text="${recruitment.company.nameCompany}"></label></div>
                        <div>Vị trí tuyển dụng: <label th:text="${recruitment.detail.career}"></label></div>
                        <div>Mức lương: <label th:text="${recruitment.detail.salary}"></label></div>
                        <div>Số lượng cần tuyển: <label th:text="${recruitment.detail.amount}"></label></div>
                        <div>Ngôn ngữ yêu cầu: <label th:text="${recruitment.detail.language}"></label></div>
                        <div>Các yêu cầu khác: <label th:text="${recruitment.detail.requirement}"></label></div>
                        <div>Quyền lợi: <label th:text="${recruitment.detail.advantage}"></label></div>
                        <div>Thời gian làm việc: <label th:text="${recruitment.detail.typeOfWork}"></label></div>
                        <button th:if="${!#lists.contains(applied, recruitment.detail.id)}" id="apply" type="button" class="btn btn-primary" th:attr="data-id=${recruitment.detail.id}">Ứng tuyển</button>
                        <button th:if="${#lists.contains(applied, recruitment.detail.id)}" type="button" disabled>Bạn đã nộp đơn ứng tuyển</button>
                    </li>
                </ul>
            </div>

            <div  class="col-12 col-md-6" th:case="'company'">
                <ul>
                    <li th:each="recruitment: ${listRecruitment}">
                        <div>Vị trí tuyển dụng: <label style="cursor: pointer; color: blue;" th:attr="data-id=${recruitment.id}" th:text="${recruitment.career}"></label></div>
                        <div>Mức lương: <label th:text="${recruitment.salary}"></label></div>
                        <div>Số lượng cần tuyển: <label th:text="${recruitment.amount}"></label></div>
                        <div>Ngôn ngữ yêu cầu: <label th:text="${recruitment.language}"></label></div>
                        <div>Các yêu cầu khác: <label th:text="${recruitment.requirement}"></label></div>
                        <div>Quyền lợi: <label th:text="${recruitment.advantage}"></label></div>
                        <div>Thời gian làm việc: <label th:text="${recruitment.typeOfWork}"></label></div>
                        <a th:href="'./application/' + ${recruitment.id}">Xem danh sách các đơn ứng tuyển</a>
                    </li>
                </ul>
            </div>
        </div>

	</div>
    <div th:if="${role} == 'student'">
        <div id="popup-container"></div>
        <script language="javascript">
            $('.button').click( function() {
                axios({
                    method: "get",
                    url: "./company/publicInfo/" + this.dataset['id']
                }).then((response)=>{
                    $('#popup-container').html(response.data);
                    $('.close').click(function() {
                        $('#popup-container').html('');
                    });
                });
            });
        </script>
    </div>

<!--    application-->
    <div id="application-container" class="bg-modal application" style="display: none">
        <div class="modal-contents">
            <form id="apply-form" class="form-container" disabled>
                <h2>Đơn ứng tuyển</h2>
                <div class="close">+</div>
                <div class="col-12 form-group">
                    <label for="experience">Kinh nghiệm</label>
                    <input type="text" class="form-control" id="experience" name="experience" rows="1" required>
                </div>
                <div class="col-12 form-group">
                    <label for="socialActivities">Hoạt động xã hội</label>
                    <input type="text" class="form-control" id="socialActivities" name="social_activities" rows="1">
                </div>
                <div class="col-12 form-group">
                    <label for="specialSkills">Kĩ năng đặc biệt</label>
                    <input type="text" class="form-control" id="specialSkills" name="special_skills" rows="1">
                </div>
                <div class="col-12 form-group">
                    <label for="careerObjective">Mục tiêu</label>
                    <input type="text" class="form-control" id="careerObjective" name="career_objective" rows="1">
                </div>
                <button class="btn-primary" id="apply-submit-btn" type="submit">Apply</button>
            </form>
        </div>
    </div>
    <script th:if="${role} == 'student'">
        $('.close').click(()=>{$('#application-container').css('display', 'none');})
        $('#apply').click(function (){
            let recruitmentId = this.dataset['id'];
            $('#application-container').css('display', 'block');
            $('#apply-form').submit(function (e) {
                e.preventDefault();
                let application ={
                    'experience': $('#experience').text(),
                    'social_activities': $('#socialActivities').text(),
                    'special_skills': $('#specialSkills').text(),
                    'career_objective': $('#careerObjective').text()
                };
                axios({
                    url: '/application/apply/' + recruitmentId,
                    method: 'post',
                    params: application
                }).then(response=>{location.reload();})
            })
        })
    </script>
</body>
</html>