<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Đăng nhập</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/loginGlobal.css}">
	<link rel="stylesheet" type="text/css" href="../css/loginGlobal.css">
</head>
<body>
	<div class="container-fluid login-container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3">
				<form action="/login" method="post" class="form-container">
					<h1 class="text-center">Đăng nhập</h1>
				  	<div class="form-group">
					    <label for="username">Tên đăng nhập</label>
					    <input type="text" class="form-control" id="username" name="username" required>
				  	</div>
				  	<div class="form-group">
					    <label for="password">Mật khẩu</label>
					    <input type="password" class="form-control" id="password" name="password" required>
				  	</div>
				  	<button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
				  	<div class="form-group">
				  		<a href="./studentRegister.html">Đăng kí tài khoản mới cho sinh viên?</a>
				  	</div>
					<div class="form-group">
						<a href="./companyRegister.html">Đăng kí tài khoản mới cho công ty của bạn?</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>