<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Đăng kí</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/registerGlobal.css}">
</head>
<body>
	<div class="container-fluid register-container">
		<div class="row">
			<div class="col-12 col-md-6">
				<form action="./student/register" method="post" class="needs-validation form-container" novalidate>
					<h1 class="text-center">Đăng kí</h1>
				  	<div class="form-row">
					    <div class="col-md-6 mb-3">
					      	<label for="firstname">Họ</label>
					      	<input type="text" class="form-control" id="firstname" name="firstName" required>
					    </div>
					    <div class="col-md-6 mb-3">
					      	<label for="lastname">Tên</label>
					      	<input type="text" class="form-control" id="lastname" name="lastName" required>
					    </div>
				  	</div>
				  	<div class="form-group">
				  		<label for="username">Tên đăng nhập</label>
				  		<input type="text" class="form-control" id="username" name="username" required>
				  	</div>
				  	<div class="form-group">
				  		<label for="password">Mật khẩu</label>
				  		<input type="password" class="form-control" id="password" name="password" required>
				  	</div>
				  	<div class="form-group">
				  		<label for="password">Nhập lại mật khẩu</label>
				  		<input type="password" class="form-control" id="re-password" required>
				  	</div>
				  	<div class="form-row">
					    <div class="col-md-6 mb-3">
					      	<label for="address">Địa chỉ</label>
					      	<input type="text" class="form-control" id="address" name="address" required>
					    </div>
					    <div class="col-md-3 mb-3">
					    	<label for="birthday">Ngày sinh</label>
					    	<input type="text" class="form-control" id="birthday" name="dateOfBirth" required>
					    </div>
					    <div class="col-md-3 mb-3">
					      	<label for="gender">Giới tính</label>
					      	<select class="custom-select" id="gender" name="gender" required>
						        <option selected disabled value="">Chọn</option>
						        <option>Nam</option>
						        <option>Nữ</option>
						        <option>Khác</option>
					      	</select>
					    </div>
				  	</div>
				  	<div class="form-row">
					    <div class="col-md-6 mb-3">
					      	<label for="phone">Điện thoại</label>
					      	<input type="text" class="form-control" id="phone" name="phoneNumber" required>
					    </div>
					    <div class="col-md-6 mb-3">
					      	<label for="email">Email</label>
					      	<input type="text" class="form-control" id="email" name="email" required>
					    </div>
				  	</div>
				  	<div class="form-group">
				  		<label for="academic_level">Trình độ học vấn</label>
				  		<input type="text" class="form-control" name="academicLevel" id="academic_level">
				  	</div>
				  	<div class="form-group">
				  		<label for="training_place">Nơi đào tạo</label>
				  		<input type="text" class="form-control" name="trainingPlace" id="training_place">
				  	</div>
					<div class="form-group">
						<label>Ngôn ngữ lập trình</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="java" value="java">
							<label class="form-check-label" for="java">java</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="C/C++" value="C/C++">
							<label class="form-check-label" for="C/C++">C/C++</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="html" value="html">
							<label class="form-check-label" for="html">html</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="css" value="CSS">
							<label class="form-check-label" for="css">CSS</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="php" value="PHP">
							<label class="form-check-label" for="php">PHP</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="ruby" value="ruby">
							<label class="form-check-label" for="ruby">Ruby</label>
						</div>
					</div>
				  	<div class="form-group">
				  		<label for="achievement">Thành tích</label>
						<textarea class="form-control" id="achievement" rows="3"></textarea>
				  	</div>
				  	<div class="form-group">
				  		<label for="forte">Sở trường</label>
						<textarea class="form-control" id="forte" rows="3"></textarea>
				  	</div>
				  	<div class="form-group">
				  		<label for="hobbit">Sở thích</label>
						<textarea class="form-control" id="hobbit" rows="3"></textarea>
				  	</div>
				  	<button class="btn btn-primary" type="submit">Đăng kí</button>
				</form>

				<script>
				// Example starter JavaScript for disabling form submissions if there are invalid fields
				(function() {
				  'use strict';
				  window.addEventListener('load', function() {
				    // Fetch all the forms we want to apply custom Bootstrap validation styles to
				    var forms = document.getElementsByClassName('needs-validation');
				    // Loop over them and prevent submission
				    var validation = Array.prototype.filter.call(forms, function(form) {
				      form.addEventListener('submit', function(event) {
				        if (form.checkValidity() === false) {
				          event.preventDefault();
				          event.stopPropagation();
				        }
				        form.classList.add('was-validated');
				      }, false);
				    });
				  }, false);
				})();
				</script>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>