<div class="bg-modal">
    <div class="modal-contents">
        <div class="close">+</div>
        <div xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
            <div>Họ tên: <label th:text="${student.firstName + ' ' + student.lastName}"></label></div>
            <div>Giới tính: <label th:text="${student.gender}"></label></div>
            <div>Ngày sinh: <label th:text="${student.dateOfBirth}"></label></div>
            <div>Số điện thoại: <label th:text="${student.phoneNumber}"></label></div>
            <div>Địa chỉ: <label th:text="${student.address}"></label></div>
            <div>Email: <label th:text="${student.email}"></label></div>
            <div>Trình độ học vấn: <label th:text="${student.academicLevel}"></label></div>
            <div>Cơ sở đào tạo: <label th:text="${student.trainingPlace}"></label></div>
            <div>Các ngôn ngữ thành thạo:
                <ul>
                    <li th:each="language : ${languages}" th:text="${language.programmingLanguage}"></li>
                </ul>
            </div>
            <div>Thành tích: <label th:text="${student.achievement}"></label></div>
            <div>Sở trường<label th:text="${student.forte}"></label></div>
            <div>Sở thích <label th:text="${student.hobbits}"></label></div>
        </div>
    </div>
</div>