<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Thông tin người dùng</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/userInforGlobal.css}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  	<a class="navbar-brand" href="#">Research Gate</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      	<li class="nav-item">
		        	<a class="nav-link" href="../home">Trang chủ <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="./updateInfo">Hồ sơ</a>
		      	</li>
		    </ul>
	  	</div>
	</nav>

<!-- Thông tin người dùng -->
	<div class="container-fluid userInfor-container">
		<div class="row">
			<div class="col-12 col-md-6">
				<form action="/student/updateInfo" method="post" class="needs-validation form-container" novalidate>
					<h1 class="text-center">Thông tin của bạn</h1>
				  	<div class="form-row">
					    <div class="col-md-6 mb-3">
					      	<label for="firstname">Họ</label>
					      	<input type="text" class="form-control" id="firstname" th:value="${student.firstName}" name="firstName" required>
					    </div>
					    <div class="col-md-6 mb-3">
					      	<label for="lastname">Tên</label>
					      	<input type="text" class="form-control" id="lastname" th:value="${student.lastName}" name="lastName" required>
					    </div>
				  	</div>
				  	<div class="form-row">
					    <div class="col-md-6 mb-3">
					      	<label for="address">Địa chỉ</label>
					      	<input type="text" class="form-control" id="address" th:value="${student.address}" name="address" required>
					    </div>
					    <div class="col-md-3 mb-3">
					    	<label for="birthday">Ngày sinh</label>
					    	<input type="text" class="form-control" id="birthday" th:value="${student.dateOfBirth}" name="dateOfBirth" required>
					    </div>
					    <div class="col-md-3 mb-3">
					      	<label for="gender">Giới tính</label>
					      	<select class="custom-select" id="gender" name="gender" required th:value="${student.gender}">
						        <option selected disabled value="">Chọn</option>
						        <option value="Nam" th:selected="${student.gender == 'Nam'}">Nam</option>
						        <option value="Nữ" th:selected="${student.gender == 'Nữ'}">Nữ</option>
						        <option value="Khác" th:selected="${student.gender == 'Khác'}">Khác</option>
					      	</select>
					    </div>
				  	</div>
				  	<div class="form-row">
					    <div class="col-md-6 mb-3">
					      	<label for="phone">Điện thoại</label>
					      	<input type="text" class="form-control" id="phone" name="phoneNumber" required th:value="${student.phoneNumber}">
					    </div>
					    <div class="col-md-6 mb-3">
					      	<label for="email">Email</label>
					      	<input type="text" class="form-control" id="email" name="email" required th:value="${student.email}">
					    </div>
				  	</div>
				  	<div class="form-group">
				  		<label for="academic_level">Trình độ học vấn</label>
				  		<input type="text" class="form-control" id="academic_level" name="academicLevel" th:value="${student.academicLevel}">
				  	</div>

				  	<div class="form-group">
				  		<label for="training_place">Nơi đào tạo</label>
				  		<input type="text" class="form-control" id="training_place" name="trainingPlace" th:value="${student.trainingPlace}">
				  	</div>
					<div class="form-group">
						<label for="language">Kỹ năng</label>
						<input type="checkbox" id="language" th:each="language : ${listProgrammingLanguage}" th:value="${language}" th:text="${language}" name="language" th:checked="${#lists.contains(currentProgrammingLanguage, language)}">
					</div>
				  	<div class="form-group">
				  		<label for="achievement">Thành tích</label>
				  		<input type="text" class="form-control" id="achievement" name="achievement" th:value="${student.achievement}">
				  	</div>

				  	<div class="form-group">
				  		<label for="forte">Sở trường</label>
				  		<input type="text" class="form-control" id="forte" name="forte" th:value="${student.forte}">
				  	</div>

				  	<div class="form-group">
				  		<label for="hobbit">Sở thích</label>
				  		<input type="text" class="form-control" id="hobbit" name="hobbits" th:value="${student.hobbits}">
				  	</div>
			  		<button class="btn btn-primary" type="submit">Cập nhật</button>
				</form>

				<script>
				// Example starter JavaScript for disabling form submissions if there are invalid fields
				(function() {
				  'use strict';
				  window.addEventListener('load', function() {
				    // Fetch all the forms we want to apply custom Bootstrap validation styles to
				    var forms = document.getElementsByClassName('needs-validation');
				    // Loop over them and prevent submission
				    var validation = Array.prototype.filter.call(forms, function(form) {
				      form.addEventListener('submit', function(event) {
				        if (form.checkValidity() === false) {
				          event.preventDefault();
				          event.stopPropagation();
				        }
				        form.classList.add('was-validated');
				      }, false);
				    });
				  }, false);
				})();
				</script>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>